<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showFavorites</key>
	<false/>
	<key>sections</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>sectionName</key>
			<string>Common Items</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Milk</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<real>1.99</real>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>Egg</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>sectionName</key>
			<string>All Items</string>
			<key>items</key>
			<array>
				<dict>
					<key>id</key>
					<integer>3</integer>
					<key>name</key>
					<string>Fresh Baked Bread</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<real>5</real>
				</dict>
				<dict>
					<key>id</key>
					<integer>4</integer>
					<key>name</key>
					<string>Cake</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<real>15</real>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>name</key>
					<string>Soda</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>name</key>
					<string>Cheese</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>7</integer>
					<key>name</key>
					<string>Butter</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>8</integer>
					<key>name</key>
					<string>Milk</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<real>2.5</real>
				</dict>
				<dict>
					<key>id</key>
					<integer>9</integer>
					<key>name</key>
					<string>Egg</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>10</integer>
					<key>name</key>
					<string>Oranges</string>
					<key>isFavorite</key>
					<false/>
					<key>price</key>
					<integer>6</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
